<table class="popupContent size-std" cellspacing="10" cellpadding="10">
    <tr>
        <td style="text-align: center; border-bottom: 1px solid #dfe8f1;">
            
                <img src="<%= baseurl() %>images/icon/download-icon.png" alt=""><br>
            <%= result.length %> <%= data.date_from %> <%= data.date_to %>
        </td>
    </tr>
</table>